body{
  margin: 0;
  font-family: sans-serif;
  background: url(../../images/marvin-meyer-571072-unsplash.jpg) no-repeat center top;
  min-height: 100vh;
  background-size: cover;
  font-family: sans-serif;
}

header{
  width: 100%;
  background: linear-gradient(#FFDA63, #FFB940);
}

#btn-menu{
  display: none; /*desaparece el checkbox*/
}

header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid white;
}

header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex; /*hace uq los li sean flexibles --> en una fila*/
  /*justify-content: flex-end; se van hacia la derecha*/
}

.menu li:hover{
  background: rgba(0,0,0,0.1);
}

.menu li a{
  display: block; /*para agregar el padding*/
  padding: 15px 20px; /* 15 vertical, 20 horizontal*/
  color: white;
  text-decoration: none;
}

.end{
  padding-right: 15px;
  padding-left: 15px;
}

main{
  position: absolute;
  top: 200px;
  padding: 15% 100%;
  background: rgba(255,255,255,0.7);

}

.text-content table.standard-table:not(.learn-box):not(.nostripe) tr:nth-child(odd) td {
  background-color: #f4f7f8;
  background-color: rgba(212,221,228,.25);
}
.text-content table.standard-table:not(.learn-box) td {
  background-color: #f9fafb;
  background-color: rgba(212,221,228,.15);
  border: 2px solid #fff;
  box-shadow: inset 0 -1px 0 0 rgba(212,221,228,.5);
}
.text-content td, .text-content th {
  border: solid #e0e0dc;
  border-width: 0 1px 1px 0;
  padding: 6px 8px;
  text-align: left;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
.text-content table {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: solid #e0e0dc;
  border-width: 1px 0 0 1px;
}
table {
  background: rgba (255, 255, 255, 1);
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}


@media (max-width:768px){
  header label {
    display: block;
  }

  .menu{
    position: absolute;
    background: linear-gradient(#FFDA63, #FFB940);
    width: 70%;
    margin-left: -70%;
    transition: all 0.6s;
  }

  .menu ul{
    flex-direction: column;
  }

  .menu li{
    border-top: 1px solid white;
  }

  #btn-menu:checked ~ .menu{ /*cuando btn-menu tenga el checked, va a buscar/seleccionar a .menu*/
    margin: 0;
  }

}